<% if recipe.image.present? %> 
  <%= image_tag url_for(recipe.image), class: "img-fluid" %>
  <%= button_to "delete current image", delete_image_recipe_path, class: "btn btn-outline-danger my-3", method: :delete %>
<% end %> 

<%= form_with(model: params, class: "inline-edit-form", data:{turbo: false}) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
    <div class="form-group col-8">
      <%= form.text_field :name, autofocus: true, placeholder: "Title", class: "form-control edit-title" %>
      <%= form.text_area :body, placeholder: "Body", class: "form-control edit-body" %>
      <%= form.file_field :image %>
      <%= form.submit :class => "btn btn-primary mt-3" %>
    </div>
  </div>
<% end %>