<div class="py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% recipes.each do |recipe| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= recipe_image(recipe) %>
            <div class="card-body">
              <h4><%= recipe.name.capitalize %></h4>
              <%= recipe_status(recipe.status) if action_name == "my_recipes" %>
              <p class="card-text"><%= recipe.body.capitalize %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", recipe, class: "btn btn-sm btn-outline-secondary" %>
                </div>
                <small class="text-muted">{ somma durata degli steps }</small>
              </div>
              <p><%= like_counter(recipe) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>