<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Recipes Album</h1>
      <p class="lead text-muted">Discover your best friend's recipes and share yours!</p>
      <p>
        <%= link_to "New recipe", new_user_recipe_path(@user), class: "btn btn-primary my-2" %>
      </p>
      <div class="bd-example">
        <%= form_with(url: user_recipes_path(@user), class: "row g-3", method: "get") do |field| %>
          <div class="col-8" data-controller="autocomplete" id="autocomplete" data-autocomplete-url-value="<%= autocomplete_recipes_path %>">
            <%= field.text_field :q, data:{"autocomplete-target" => "input"}, placeholder: "Search...", class: "form-control" %>
            <ul class="p-0 border-bottom border-start border-end rounded-bottom" data-autocomplete-target="results"></ul>
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      <% @recipes.each do |recipe| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= recipe_image(recipe) %>
            <div class="card-body">
              <h4><%= recipe.name.capitalize %></h4>
              <p class="card-text"><%= recipe.body.capitalize %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", recipe, class: "btn btn-sm btn-outline-secondary" %>
                </div>
                <small class="text-muted">{ somma durata degli steps }</small>
              </div>
              <p><%= like_counter(recipe) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>