<header class="container d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
  <%= link_to root_path, class:"navbar-brand d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" do %>
    <i class="bi bi-book px-3"></i>
    <strong>RecipeBook</strong>
  <% end %>

  <div class="navbar-align navbar-nav d-flex flex-row align-items-center">
    <!-- notifications -->
    <% if user_signed_in? %>
      <%= turbo_stream_from dom_id(current_user, "broadcast_to") %>

      <div class="me-2 nav-item dropdown">
        <a class="nav-link nav-icon dropdown-toggle dropdown-toggle notification-dropdown-toggle pointer" id="notificationsDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <div class="position-relative">
            <i class="bi bi-bell"></i>
            <%= render "shared/notifications-count", count: current_user.notifications.unviewed.count %>
          </div>
        </a>

        <!-- notifications will be appended here -->
        
        <div id="notifications-list" class="dropdown-menu" aria-labelledby="notificationsDropdown">
          <% if current_user.notifications.unviewed.empty?  %>
          "No notifications to read." 
          <% end %>

          <% current_user.notifications.unviewed.latest.with_log.each do |notification| %>
            <%= render "shared/notification", notification: notification %>
          <% end %>

          <hr class="dropdown-divider">
          <div class="dropdown-item pointer">
            <div class="align-items-center g-0 row">
              <div class="pl-2 col-10">
                <%= turbo_frame_tag nested_dom_id("notification-view-all") do %>
                  <%= button_to "view all", view_all_notifications_path, method: :patch %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="me-2 nav-item px-3">  
        <small><%= current_user.email %></small>
      </div>

      <div class="me-2 nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
      </div>
    <% else %>
      <div class="me-2 nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
      <div class="me-2 nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</header>