<header class="container d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
  <%= link_to root_path, class:"navbar-brand d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" do %>
    <i class="bi bi-book px-3"></i>
    <strong>RecipeBook</strong>
  <% end %>

  <div class="navbar-align navbar-nav d-flex flex-row align-items-center">
    <% if user_signed_in? %>

      <!-- notifications -->
      <%= turbo_stream_from dom_id(current_user, "broadcast_to") %>

      <div class="me-4 nav-item dropdown">
        <a class="nav-link nav-icon dropdown-toggle dropdown-toggle notification-dropdown-toggle pointer" id="notificationsDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <div class="position-relative">
            <i class="bi bi-bell"></i>
            <%= render "shared/notifications-count", count: current_user.notifications.unviewed.count %>
          </div>
        </a>

        <div id="notifications-list" class="dropdown-menu" aria-labelledby="notificationsDropdown">
          <!-- empty notifications message -->
          <%= render "shared/empty-notifications", empty_notifications: current_user.notifications.unviewed.empty? %>

          <!-- notifications will be appended here -->
          <% current_user.notifications.unviewed.latest.with_log.each do |notification| %>
            <%= render "shared/notification", notification: notification %>
          <% end %>

          <hr class="dropdown-divider">
          <!--view-all button or viewed-all text -->
          <%= turbo_frame_tag nested_dom_id("notification-view-all") do %>
            <%= render "shared/notifications-view-all", new_notifications: current_user.notifications.unviewed.any? %>
          <% end %>
        </div>
      </div>

      <!-- user menu dropdown -->
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="text-dark">Hello, <%= current_user.email %></span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="userMenu">
          <li>
            <%= link_to my_recipes_user_path(current_user), class: "dropdown-item" do %>
              <%= content_tag(:i, "", class: "bi bi-book me-2") %>
              my recipes
            <% end %>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
      </div>

    <% else %>
      <div class="me-2 nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
      </div>
      <div class="me-2 nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</header>