<%= form_with(model: params) do |step_field| %>
  <div class="card shadow-sm col-5 my-3">
    <div class="card-body">

      <div class="row my-3">
        <div class="col">
          <%= step_field.text_field :description, class: "form-control", placeholder: "Description"%>
        </div>

        <div class="col">
          <%= step_field.number_field :order, class: "form-control", placeholder: "Order"%>
        </div>
        <div class="col">
          <%= step_field.number_field :duration, class: "form-control", placeholder: "Duration"%>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <%= step_field.text_area :body, class: "form-control", placeholder: "Body"%>
        </div>
      </div>

      <div class="row my-3">
        <small>Choose an Ingredient</small>
      </div>


      <%= step_field.fields_for :step_ingredients do |step_ingredients_fields| %>
          <%= render "step_ingredient_form", step_ingredients_fields: step_ingredients_fields %>
      <% end %>

      <%# step_field.button "Add ingredient", class:'btn btn-sm btn-primary', formmethod: "post", formaction: step_add_ingredient_path(step), data: { turbo_frame: false} %>

      <div class="d-flex justify-content-between align-items-center my-3">
          <%= step_field.submit class: "btn btn-success" %>
          <%= link_to "Cancel", recipe_path(recipe), class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>