<%= form_with(model: step, url: [recipe, step]) do |step_field| %>
  <div class="card shadow-sm col-5 my-3">
    <div class="card-body">

      <div class="row my-3">
        <div class="col">
          <%= step_field.text_field :description, class: "form-control", placeholder: "Description"%>
        </div>

        <div class="col">
          <%= step_field.number_field :order, class: "form-control", placeholder: "Order"%>
        </div>
        <div class="col">
          <%= step_field.number_field :duration, class: "form-control", placeholder: "Duration"%>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <%= step_field.text_area :body, class: "form-control", placeholder: "Body"%>
        </div>
      </div>

      <div class="row my-3">
        <small>Choose an Ingredient</small>
      </div>

      <%= step_field.fields_for :step_ingredients do |step_ingredients_fields| %>
        <div class="row my-3">
          <%= step_ingredients_fields.fields_for :ingredient do |ingredient_form| %>
            <div class="col">
              <div data-controller="autocomplete" id="autocomplete" data-autocomplete-url-value="/autocomplete">
                <%= ingredient_form.text_field :name, data:{"autocomplete-target" => "input"}, placeholder: "ingredient", class: "form-control" %>
                <ul class="p-0 border-bottom border-start border-end rounded-bottom" data-autocomplete-target="results"></ul>
              </div>
            </div>

            <div class="col">
              <div class="input-group">
                  <%= step_ingredients_fields.number_field :quantity, placeholder: "quantity", class: "form-control" %>
                  <%= ingredient_form.select :unit_type, Ingredient.unit_types.keys, {}, {class: "btn btn-outline-secondary dropdown-toggle"} %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="d-flex justify-content-between align-items-center my-3">
          <%= step_field.submit class: "btn btn-success" %>
          <%= link_to "Cancel", @recipe, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>