<div class="row my-3">
  <%= step_ingredients_fields.fields_for :ingredient do |ingredient_form| %>
    <div class="col">
      <div data-controller="autocomplete" id="autocomplete" data-autocomplete-url-value="/autocomplete">
        <%= ingredient_form.text_field :name, data:{"autocomplete-target" => "input"}, placeholder: "ingredient", class: "form-control" %>
        <ul class="p-0 border-bottom border-start border-end rounded-bottom" data-autocomplete-target="results"></ul>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <%= step_ingredients_fields.number_field :quantity, placeholder: "quantity", class: "form-control" %>
        <%= ingredient_form.select :unit_type, Ingredient.unit_types.keys, {}, {class: "btn btn-outline-secondary dropdown-toggle"} %>
      </div>
    </div>
    <div class="col">
      <div class="input-group">
        <%= step_ingredients_fields.check_box '_destroy' %>
      </div>
    </div>
  <% end %>
</div>