<%= turbo_frame_tag(nested_dom_id(step), class:"col-4") do %>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted"><%= step.order %>.</small>
        <div class="d-flex gap-2">
          <% if policy(step).update? %>
            <%= link_to [:edit, step],
                        data: { turbo_frame: nested_dom_id("new_step") },
                        class: "btn btn-sm btn-outline-secondary"  do %>
                        <i class="bi bi-pencil-square"></i>
            <% end %>
          <% end %>
          
          <%= button_to raw("<i class=\"bi bi-trash-fill\"></i>"),
                        [step],
                        method: :delete,
                        class: "btn btn-sm btn-outline-danger" if policy(step).destroy? %>
          <%= like_element(step) if policy(step).like? %>
          <%= like_counter(step) %>
        </div>
      </div>
      <h4><%= step.description %></h4>
      <p class="card-text"><%= step.body %></p>
      <div class="row">
        <% step.step_ingredients.each do |step_ingredient| %>
          <div class="col-7">
            Ingredient:
            <%= step_ingredient.ingredient_name %>
            <%= step_ingredient.quantity %>
            <%= step_ingredient.ingredient.unit_type %>
          </div>
        <% end %>
      <small class="text-muted mt-3"><%= step.duration %> min</small>
     </div>
    </div>
  </div>
<% end %>