<!DOCTYPE html>
<html>
  <head>
    <title>Recipebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless flash.empty? %>
      <div class="alert  alert-<%= notice ? "primary" : "danger" %>" role="alert">
        <%= notice ? notice : alert %>
      </div>
    <% end %>

    <main class="form-signin">
      <%= yield %>
    </main>
  </body>
</html>